@use "settings";

// ===========
// PAGE AGENCE
// ===========
#agence {
  text-align: center;
  display: flex;
  gap: 50px;

  .imageAgence {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    box-shadow: 0 0 5px settings.$blackShadow;
  }

  h2 {
    font-size: 25px;
    color: settings.$color1;
  }
}
