@use "settings";

#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media screen and (max-width: 720px) {
      grid-template-columns: 1fr;
    }

    // a {
    //   color: settings.$black !important;

    //   &:hover {
    //     color: settings.$black !important;
    //   }
    // }

    .item {
      border: 1px solid settings.$color1;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-shadow: 0 0 2px settings.$blackShadow;

      h2 {
        color: settings.$color1 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        i {
          background: settings.$color1;
          color: settings.$white;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 24px;
          padding: 10px;
          box-shadow: 0 0 2px settings.$blackShadow;
        }
      }

      img {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}
