// ===========
// FLEX & GRID
// ===========
.df {
  display: flex;
  flex-wrap: wrap;
}

.g20 {
  gap: 20px;
}

.g50 {
  gap: 50px;
}

.fdc {
  flex-direction: column;
}

.fdcr {
  flex-direction: column-reverse;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.dg {
  display: grid;
}
