@use "settings";

// ======
// FOOTER
// ======
footer {
  width: 100%;
  padding: 1vh 5vw;
  min-height: 5vh;
  border-top: 1px solid settings.$color1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 540px) {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5vw;
  }

  * {
    font-size: 10px !important;
  }
}
