@use "settings";

// ======
// HEADER
// ======
header {
  width: 25%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;

  @media screen and (max-width: 960px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
  }

  i {
    font-size: 20px;
  }

  .logo {
    max-height: 60px;
    margin: 0 auto;
  }

  .icons-nav {
    display: none;

    @media screen and (max-width: 960px) {
      display: block;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;

    @media screen and (max-width: 960px) {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      display: none;
    }
  }

  nav.nav-open {
    @media screen and (max-width: 960px) {
      max-height: 1000px;
      display: flex;
    }
  }

  nav.nav-closed {
    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  .top {
    width: 100%;

    @media screen and (max-width: 960px) {
      width: auto;
      height: 20px;
      margin: 0 auto;
    }
  }

  p,
  .social-links {
    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }

  .social-links {
    display: flex;
    gap: 20px;
    justify-content: center;

    i {
      color: settings.$color1;
    }
  }
}
