// ========
// HOMEPAGE
// ========

#homepage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: url(../images/bg-homepage.webp) center/cover;
  overflow: hidden;
  justify-content: center;
  text-align: center;

  .df {
    justify-content: center;
  }

  img {
    max-height: 90px;
  }

  h1 {
    display: none;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
    font-style: italic;
  }
}
