@use "settings";

#portfolio {
  text-align: center;
  display: flex;
  gap: 50px;

  .portfolio-list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 720px) {
      grid-template-columns: 1fr;
    }

    h2 {
      color: settings.$color1 !important;
    }

    p {
      color: settings.$text !important;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid settings.$color1;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 2px settings.$blackShadow;

      &:hover {
        box-shadow: inset 0 0 5px settings.$black;
      }

      img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 2px settings.$black;
      }

      .text-item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
          width: 50%;
          margin: 0 auto;
          border-radius: 0;
          box-shadow: none;
        }
      }
    }
  }
}
